<div class="container">
    <form action="" class="evento" [formGroup]="eventForm">
        <div class="form__element">
            <label  for="" 
                    class="evento__label">
                    Imagen
                </label>
            <input  type="file" 
                    formControlName="image" 
                    id="" 
                    class="">
        </div>
        <div class="form__element">
            <label for="" 
                    class="evento__label">
                    Titulo
                </label>
            <input type="text"
                    formControlName="title" 
                    id="" 
                    class="evento__title">
        </div>
        <div class="form__element">
            <label for="" 
                    class="evento__label">
                    Inicio
                </label>
            <input type="datetime-local"
                    formControlName="start" 
                    class="evento__fecha">
        </div>
        <div class="form__element">
            <label for="" 
                    class="evento__label">
                    Final
                </label>
            <input type="datetime-local"
                    formControlName="end" 
                    id="" 
                    class="evento__fecha">
        </div>
        <div class="form__element">
            <label for="" 
                    class="evento__label">
                Resumen
            </label>
            <textarea   formControlName="summary"
                        id="" cols="30" 
                        rows="5" 
                        class="evento__textarea">
                    </textarea>
        </div>
        <div class="form__element">
            <label for="" 
                    class="evento__label">
                    Descripcion
                </label>
            <textarea   formControlName="description" 
                        id="" 
                        cols="30" 
                        rows="10" 
                        class="evento__textarea">
                    </textarea>
        </div>
        <div class="form__element form__element--checkbox">
            <label for="" 
                    class="">
                Publicar
            </label>
            <input type="checkbox" 
                    formControlName="published"
                    id=""
                    class="">
        </div>

        <div class="buttons">
            <button class="btn guardar" (click)="onSaveEvent()">Guardar</button>
            <button class="btn cancelar" (click)="onCancelEvent()">Cancelar</button>
        </div>
    </form>
</div>