<div class="container">
    <form action="" class="evento">
        <div class="form__element">
            <label for="" class="evento__label">Imagen</label>
            <input type="file" name="" id="" class="">
        </div>
        <div class="form__element">
            <label for="" class="evento__label">Titulo</label>
            <input type="text" name="" id="" class="evento__title">
        </div>
        <div class="form__element">
            <label for="" class="evento__label">Inicio</label>
            <input type="datetime-local" name="" id="" class="evento__fecha">
        </div>
        <div class="form__element">
            <label for="" class="evento__label">Final</label>
            <input type="datetime-local" name="" id="" class="evento__fecha">
        </div>
        <div class="form__element">
            <label for="" class="evento__label">Resumen</label>
            <textarea name="" id="" cols="30" rows="5" class="evento__textarea"></textarea>
        </div>
        <div class="form__element">
            <label for="" class="evento__label">Descripcion</label>
            <textarea name="" id="" cols="30" rows="10" class="evento__textarea"></textarea>
        </div>

        <div class="buttons">
            <button class="btn guardar">Guardar</button>
            <button class="btn cancelar">Cancelar</button>
        </div>
    </form>
</div>