.header{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;

    font-size: 1.3rem;
    background-color: var(--background-color-darkmode);
    color: var(--color-sb-barakaldo-mode);
    position: relative;
    z-index: 999;
}
.sb__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sb__title{
    width: 5rem;
}
.sb__logo{
    max-width: 5rem;
}
.menu__icon{
    display: none;
    position: absolute;
    right: 10px;
    top: 7rem;
    width: 2rem;
    filter: invert(.5);
    translate: transform .3s;
    transform: translateX(200%);
    cursor: pointer;
}
.menu__icon:hover{
    cursor: pointer;
}

.main__menu__container{
    width: 100%;
}
.main__menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-bottom: 0;
    font-size: 1rem;
    color: #fff;
}
.menu__item{
    /* border-bottom: 2px solid transparent; */
    color: var(--color-sb-barakaldo-mode);
    padding: 0.2rem 0.6rem;
    /* font-weight: bold; */
    border-radius: 5px;
}
.menu__item:hover{
    cursor: pointer;
    /*border-bottom: 2px solid var(--color-sb-barakaldo-mode);*/
}
.active{
    color: #fff;
    background-color: var(--color-sb-barakaldo-mode);
}

@media screen and (min-width: 766px) {
    .sb__title{
        width: 10rem;
    }
    .header{
        font-size: 1.5rem;
    }
    .main__menu{
        justify-content: flex-end;
    }
    .menu__item{
        margin: 0 1rem;
    }
    /* .menu__icon{
        display: block;
    } */
}