<!-- <nav class="main__menu__container">
    <ul class="main__menu">
        <li class="menu__item" [routerLink]="'home'" routerLinkActive="active">Inicio</li>
        <li class="menu__item" [routerLink]="'eventos'" routerLinkActive="active">Eventos</li>
        <li class="menu__item" [routerLink]="'nosotros'" routerLinkActive="active">Nosotros</li>
    </ul>
</nav> -->
<header class="header">
    <div class="sb__container">
        <img src="assets\media\images\logo\logo.png" alt="" class="sb__logo">
        <span class="sb__title">{{ clubName }}</span>
    </div>
    <img src="assets\media\images\icons\menu.svg" alt="" class="menu__icon">
</header>