.event{
    width: 10rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: var(--background-color-darkmode);
    box-shadow: 5px 5px 10px -5px #7777;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0.2rem;
}
.event__image{
    height: 25rem;
    object-fit: cover;
    object-position: center;
}
.event__body{
    margin: 1rem 0;
    text-align: center;
    overflow: hidden;
}
.event__header{
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
    font-weight: bold;
}
.event__calendar{    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: smaller;
}
.calendar__icon{
    width: 1.5rem;
}
.event__desc{
    text-align: justify;
    overflow-y: auto;
    margin-bottom: 0.3rem;
}

@media screen and (max-width: 766px) {
    .event{
        width: 80vw;
    }
    .event::-webkit-scrollbar {
        display: none;
    }
    .event__image{
        height: 10rem;
    }
}