<div class="">
    <div class="event__header">
        <h4 class="event__title">{{ event.title }}</h4>
        <span class="event__date">{{ event.date }}</span>
    </div>
    <div    class="event__body"
            [hidden]="!event.expanded">
        <img    src="assets\media\images\events\{{ event.image }}" 
                [alt]="event.title" 
                class="event__image">
        <p class="event__desc">{{ event.desc }}</p>
    </div>
    <button class="btn btn__info"
            (click)="showInfo(event)">
        <img    src="assets\media\images\icons\minus.svg" 
                alt="" 
                class="icon_info"
                [hidden]="!event.expanded">
        <img    src="assets\media\images\icons\plus.svg" 
                alt="" 
                class="icon_info"
                [hidden]="event.expanded">
    </button>
</div>