<div class="container">
    <div class="historia">
        <h2 class="title">SC Barakaldo</h2>
        <img src="assets\media\images\nosotros\nosotros.jpg" alt="">
        <p class="historia__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quaerat nulla repellendus hic inventore totam atque, harum ut dolor? Optio, nulla eius quaerat vel enim architecto ratione fugit soluta officiis.</p>
    </div>
    <div class="nosotros">
        <h2 class="title">Plantilla</h2>
        <div class="card__container">
            <div class="nosotros__card">
                <img src="assets\media\images\nosotros\nino.jpg" alt="" class="card_image">
                <span class="card__name">Moi</span>
            </div>
            <div class="nosotros__card">
                <img src="assets\media\images\nosotros\jugador_uno.jpg" alt="" class="card_image">
                <span class="card__name">Jugador 1</span>
            </div>
            <div class="nosotros__card">
                <img src="assets\media\images\nosotros\jugador_dos.jpg" alt="" class="card_image">
                <span class="card__name">Jugador 2</span>
            </div>
            <div class="nosotros__card">
                <img src="assets\media\images\nosotros\jugador_tres.jpg" alt="" class="card_image">
                <span class="card__name">Jugador 3</span>
            </div>
        </div>
    </div>
</div>