.event{
    /* height: 10rem; */
    position: relative;
    display: grid;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;

    box-shadow: 0px 0px 15px -10px #777;
    overflow: hidden;

    transition: transform .3s;
}
.event:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
.event__image{
    height: 100%;
    max-height: 11rem;
    object-fit: cover;
    object-position: center;
}
.event__body{
    color: var(--background-color-darkmode);
    display: grid;
}
.event__header{
    display: grid;
    justify-content: center;
}
.event__title{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.event__calendar{
    display: flex;
    align-items: center;
}
.calendar__icon{
    width: 1.5rem;
}
@media screen and (max-width : 768px) {
    .event{
        display: grid;
        grid-gap: .5rem;
    }
}
