<footer class="footer">
    <div class="section">
        <h3 class="title">Donde estamos</h3>
        <p class="direccion">	C/ Bagatza 9, Bajo 3. 48902 Barakaldo, Bizkaia.</p>
        <div class="guarida__info">
            <img src="assets/media//images/laguarida.jpg" alt="">
        </div>
    </div>
    <div class="section">
        <h3 class="title">Redes Sociales</h3>
        <div class="redes">
            <a href="https://www.facebook.com/SubbuteoBarakaldo/" class="redes__enlace">
                <img src="assets\media\images\icons\facebook.svg" alt="facebook" class="redes__icon">
            </a>
            <a href="https://twitter.com/SCBarakaldo?fbclid=IwAR0xMIMeJXTfF9TV0GcRf0PcpcJByQUFz5RGNFTLgewt7NzT5JD4JZ2kO10" class="redes__enlace">
                <img src="assets\media\images\icons\twitter.svg" alt="twitter" class="redes__icon">
            </a>
            <a href="https://www.youtube.com" class="redes__enlace">
                <img src="assets\media\images\icons\youtube.svg" alt="youtube" class="redes__icon">
            </a>
        </div>
    </div>
    <div class="section">
        <h3 class="title">Que ver</h3>
        <ul class="options__list">
            <li class="list__item"><a href="" class="item__link">Nosotros</a></li>
            <li class="list__item"><a href="" class="item__link">Equipos</a></li>
            <li class="list__item"><a href="" class="item__link">Eventos</a></li>
        </ul>
    </div>
</footer>