<div class="events__container">
    <h2 class="title">Noticias</h2>
    <div class="modal__event" *ngIf="currentEvent">
        <app-model-event [event]="currentEvent" (closeModal)="onCloseModal()"></app-model-event>
    </div>
    <div class="las__events">
        <!-- <app-event-card-carrousell
            class="event" 
            [event]="currentEvent">
        </app-event-card-carrousell> -->
        <app-event-card *ngFor="let event of lasEvents" [event]="event" (eventSelected)="onSelectEvent($event)"></app-event-card>
    </div>
    <div class="events">
        <app-events *ngFor="let event of otherEvents" [event]="event" (eventSelected)="onSelectEvent($event)"></app-events>
    </div>
</div>