.events__container{
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0.5rem;
}
.las__events{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    position: relative;
    height: 30rem;
    overflow: hidden;
}
.events{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
@media screen and (max-width : 767px) {
    .las__events{
        grid-template-columns: 1fr;
        height: auto;
        grid-gap: .5rem;
        overflow: visible;
        margin-bottom: 3rem;
    }
    .events{
        grid-template-columns: 1fr;
    }
}

.modal__event{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: rgba(0, 0, 0, .7);
}


.background{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100vw;
    background-image: url('../../../assets/media/images/icons_logo/logo.png');
    background-position: center 10rem;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .2;
    z-index: 1;
}